
// //////////////////////////////////////////////////////////////////////// colors

$color-purple: #800A7A;
$color-yellow: #f1b301;
$color-black: #222124;
$color-orange: #e76a06;
$color-pink: #fc96f7;
$color-gray: #f5f5f5;
$color-text: #a6a6a8;

// //////////////////// code starts from here ///////////////////



body{
  background: red;
}