/*********************  FONTS STYLE *************************/

@font-face {
    font-family: "Inter-Bold";
    src: url("../asssets/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../asssets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Light";
    src: url("../asssets/fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../asssets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}

.font-intel-bold {
    font-family: "Inter-Bold", sans-serif;
}

.font-intel-regular {
    font-family: "Inter-Regular", sans-serif;
}

.font-intel-light {
    font-family: "Inter-Light", sans-serif;
}

.font-inter-semi-bold {
    font-family: "Inter-SemiBold", sans-serif;
}

// //////////////////////////////////////////////////////////////////////// colors
$color-purple: #800A7A;
$color-yellow: #f1b301;
$color-black: #222124;
$color-orange: #e76a06;
$color-pink: #fc96f7;
$color-gray: #f5f5f5;
$color-text: #a6a6a8;
// //////////////////// icon style ///////////////////


